<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-share-manager"
    version="0.0.1">

    <name>Share Manager</name>
    <description>Plugin get access to data shared from another applications</description>
    <license>MIT</license>
    <keywords>cordova,share,manager,widget</keywords>

    <js-module src="www/share-manager.js" name="share-manager">
        <clobbers target="shareManager" />
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=4" />
        <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ShareManager">
                <param name="android-package" value="com.cordova.plugin.ShareManagerPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <source-file src="src/android/ShareManagerPlugin.java" target-dir="src/com/cordova/plugin/sharemanager" />
        <source-file src="src/android/PendingRequests.java" target-dir="src/com/cordova/plugin/sharemanager" />
    </platform>
</plugin>